<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post List</title>
  <link rel="stylesheet" href="/css/style.css"> <!-- CSS 파일 링크 -->
</head>
<body>

<h1>Post List</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Content</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}"></td>
    <td th:text="${post.title}"></td>
    <td th:text="${post.content}"></td>
    <td th:text="${post.createdAt}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>